/* 
Dark Green: #003700
Medium Green: #1a6b15
Lime Green: #98b523
Deep Blue/Black: #35393e (for text)
*/
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #35393e;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}

#header-top a{
	color:white;
}
#header-top{
	background: #003700;
}

.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #fff
  background-image: none;
}
a {
  color: #97b420;
}
a:hover,
a:focus {
  opacity: 0.7;
}
a:active {
  color: #97b420;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
  background: #ffffff;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
