
/* ------------------- Basic Layout Styles ---------------- */

html,
body,
#page  {
  height: 100%;
  margin:0;
  padding:0;
}
#page-wrapper {
  min-height: 100%;
}
#header div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.hidden{
	display: none !important;
	
}

/* HEADER */
#header div.section {
  position: relative;
}
.block.logo {
  position: absolute;
  top: -22px;
  left: 15px;
  display: block;
  z-index: 20;
}
.logo img {
	width: 124px;
	height: 124px;
	border-radius: 50%;
	box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.region-header{
	float: none;
	padding: 0 15px 0 150px;
}
.front #page-title, .front #highlighted, .front .tabs{
	display: none;
}

/* MAIN NAV */
.om-maximenu.om-maximenu-block ul.om-menu{
	float: none;
	text-align: right;
}
.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf{
	float: none;
	display: inline;
}
.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-link{
	float: none;
	display: inline-block;
	color: #35393e;
}
.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-link:hover{
	opacity: .7;
}
.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-link.left{
	float: left;
}
.region-header .block.block-om-maximenu{
	float: none;
}
.om-maximenu ul.om-menu li.om-leaf .om-link{
	height: 80px;
	line-height: 80px;
}

.garden-menu li,
#header-top li{
	display: inline;
}
.garden-menu li a,
#header-top li a{
	display: inline-block;
}
.garden-menu{
	padding-left: 150px;
}
.garden-menu li a{
	padding: 0 15px;
}
.garden-menu ul.submenu,
.garden-menu ul{
	margin: 0;
	padding: 0;
}
.gtype{
	display: block;
	font-size: .75em;
	color: #98b523;
}


/* MENU - TOP ACTIONS MENU */
#header-top #block-menu-menu-header-actions {
  float: right;
}
#block-menu-menu-header-actions li{
	padding: 0;
	margin: 0;
}
#block-menu-menu-header-actions li a{
	height: 58px;
	line-height: 58px;
	display: block;
	float: left;
	padding: 0 20px;
}
#block-menu-menu-header-actions li a:hover{
	opacity: .7;
}
#block-menu-menu-header-actions li a.tour{
	background-color: #1a6b15
}
#block-menu-menu-header-actions li a.donate{
	background-color: #98b523
}



/* HOME FLEXSLIDER */
.flexslider{
	  border: none;
}

.flex-direction-nav {
    display: none;
}

.flexslider .slides img {
    width: auto;
    min-height: 200px;
}

.group-home-slider-container.max-container {
    max-width: 1290px;
    margin: 0 auto;
    color: #fff;
}

.group-slider-text.field-group-div.section-wrap {
    padding: 140px 15px;
}

.field-name-field-homepage-slider-main-headi {
    font-size: 56px;
    font-family: "Merriweather Sans", sans-serif;
}

.field-name-field-homepage-slider-sub-headin,
.field-name-field-homepage-slider-link a {
    font-size: 20px;
    max-width: 600px;
    color: #fff;
}

.field-name-field-homepage-slider-link a:hover {
    color: #fff;
    opacity: 0.7;
}

.field-name-field-homepage-slider-sub-headin {
    padding: 15px 0 20px 0;
}

.field-name-field-homepage-slider-link a:after {
    font-family: "fontawesome";
    content: '\f105';
    padding-left: 10px;
}

/*slide navigation*/

.flex-control-nav {
    max-width: 1290px;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    z-index: 2;
}

.flex-control-paging li {
    padding: 0 9px;
    margin: 0;
}

.flex-control-paging li a {
    width: 22px;
    height: 22px;
    background: #fff;
}

.flex-control-paging li a.flex-active {
    background: none;
    border: 2px solid #97b420;
}


/*WELCOME MESSAGE*/

.welcome {
    margin: 0 auto;
    max-width: 1290px;
    padding: 50px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 
.welcome .group-column1 .field {
    text-align: right;
    padding: 0 10% 0 20%;
}

.field-name-field-multifield-heading {
    font-size: 14px;
    line-height: 2.5;
}

.field-name-field-multifield-subheading {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 28px;
    line-height: 1.2;
    display: block;
}

.field-name-field-multifield-text {
    line-height: 2;
    font-size: 18px;
    padding-bottom: 4%;
}

.welcome .field-name-field-multifield-text a {
    text-decoration: underline;
}

.field-name-field-multifield-links {
    font-size: 18px;
}

.field-name-field-multifield-links a:after {
  font-family: "fontawesome";
  content: '\f105';
  padding-left: 10px;
}

/*breadfruit section*/

.entity.entity-section.section-basic-multifield.contextual-links-region.homepage.breadfruit.clearfix {
    background: url(/sites/all/themes/responsive_bartik/images/breadfruit-bg.png);
    min-height: 700px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.entity.entity-section.section-basic-multifield.contextual-links-region.homepage.breadfruit.clearfix .content {
    background: url(/sites/all/themes/responsive_bartik/images/breadfruit.png) no-repeat left top;
    min-height: 700px;
    background-position: -40% 22.5%;
}

.breadfruit .col.span-5-of-12, 
.breadfruit .col.span-7-of-12 {
    width: 30% !important;
    padding-left: 50%;
    margin: 0;
    color: #fff !important;
}

.breadfruit .col.span-5-of-12 {
  padding-top: 5%;  
}

.breadfruit .field-name-field-multifield-subheading {
  font-size: 36px;
}

.breadfruit .field-name-field-multifield-text {
  padding-top: 10px;
}

.breadfruit .field-name-field-multifield-links a {
    color: #fff !important;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 768px) {
  .breadfruit .col.span-5-of-12, 
  .breadfruit .col.span-7-of-12 {
    width: 100% !important;
    padding: 0;
  }

  .welcome .group-column1 .field {
    text-align: left;
    padding: 0;
  }
}


/*general styling*/

#secondary-menu {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}
#main-wrapper {
  min-height: 300px;
}
#content .section,
.sidebar .section {
}
#breadcrumb {
  margin: 0 15px;
}
#footer-wrapper {
  padding: 100px 0 0;
}
#footer-wrapper .section {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px 0;
}
.region-footer-firstcolumn {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 10px;
}
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
}

@media all and (min-width: 560px) and (max-width: 850px) {

  #sidebar-first,
  .region-triptych-first,
  .region-triptych-middle,
  .region-triptych-last,
  .region-footer-firstcolumn,
  .region-footer-secondcolumn,
  .region-footer-thirdcolumn,
  .region-footer-fourthcolumn {
    display: inline;
    float: left; /* LTR */
    position: relative;
  }
  #sidebar-first,
  #sidebar-second {
    width: 50%;
  }
  #sidebar-second {
    margin-left: 50%; /* LTR */
  }
  .one-sidebar #sidebar-first,
  .one-sidebar #sidebar-second {
    width: 100%;
  }
  .one-sidebar #sidebar-second {
    margin-left: 0; /* LTR */
  }
  .region-triptych-first,
  .region-triptych-middle,
  .region-triptych-last {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px 0;
    width: 33%;
  }
  .region-footer-firstcolumn,
  .region-footer-secondcolumn {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    width: 50%;
  }
  .region-footer-thirdcolumn,
  .region-footer-fourthcolumn {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    width: 50%;
  }
  .region-footer-thirdcolumn {
    clear: both;
  }
}

@media all and (min-width: 851px) {

  #header div.section,
  #featured div.section,
  #messages div.section,
  #main,
  #triptych,
  #footer-columns,
  #footer {
   
  }
  #content,
  #sidebar-first,
  #sidebar-second,
  .region-triptych-first,
  .region-triptych-middle,
  .region-triptych-last,
  .region-footer-firstcolumn,
  .region-footer-secondcolumn,
  .region-footer-thirdcolumn,
  .region-footer-fourthcolumn {
    display: inline;
    float: left; /* LTR */
    position: relative;
  }
  .two-sidebars #content {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }
  .one-sidebar #content {
    width: 75%;
  }
  .no-sidebars #content {
    width: 100%;
  }
  .sidebar-first #content {
    margin-left: 25%; /* LTR */
    margin-right: 0; /* LTR */
  }
  .sidebar-second #content {
    margin-right: 25%; /* LTR */
    margin-left: 0; /* LTR */
  }
  #sidebar-first {
    width: 25%;
    margin-left: -100%; /* LTR */
  }
  #sidebar-second {
    width: 25%;
    margin-left: -25%; /* LTR */
    clear: none;
  }
  .region-triptych-first,
  .region-triptych-middle,
  .region-triptych-last {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33%;
  }
  .region-footer-firstcolumn,
  .region-footer-secondcolumn,
  .region-footer-thirdcolumn,
  .region-footer-fourthcolumn {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    width: 25%;
  }
}

/*============================ GRID SYSTEM ============================*/


/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child { 
  margin-left: 0; 
}


/*  GRID OF TWELVE  */
.span-12-of-12 {
  width: 100%;
}

.span-11-of-12 {
  width: 91.53%;
}

.span-10-of-12 {
  width: 83.06%;
}

.span-9-of-12 {
  width: 74.6%;
}

.span-8-of-12 {
  width: 66.13%;
}

.span-7-of-12 {
  width: 57.66%;
}

.span-6-of-12 {
  width: 49.2%;
}

.span-5-of-12 {
  width: 40.73%;
}

.span-4-of-12 {
  width: 32.26%;
}

.span-3-of-12 {
  width: 23.8%;
}

.span-2-of-12 {
  width: 15.33%;
}

.span-1-of-12 {
  width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 768px) {
  .col {
    margin: 1% 0 1% 0%;
  }
    
  .span-1-of-12, 
  .span-2-of-12, 
  .span-3-of-12, 
  .span-4-of-12, 
  .span-5-of-12, 
  .span-6-of-12, 
  .span-7-of-12, 
  .span-8-of-12, 
  .span-9-of-12, 
  .span-10-of-12, 
  .span-11-of-12, 
  .span-12-of-12 {
    width: 100%; 
  }
}

/*============================ END GRID SYSTEM ============================*/


/*============================ FOOTER ============================*/

img.footer-logo {
    max-width: 100px;
}

.region-footer-top {
    padding: 0 10px;
}

#footer-wrapper li, 
#footer-wrapper ul.menu {
    margin: 0;
    padding: 0;
}

.region-footer {
    margin: 80px 10px;
}

/*footer typography*/

h1.footer-title {
    margin: .5em 0 1.5em 0;
    font-size: 18px;
}

#footer-wrapper h2 {
    color: #9d9b96;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}

#footer-wrapper ul.menu a {
    color: #35393e;
    font-size: 18px;
    cursor: pointer;
}

#footer-wrapper ul.menu a:hover,
.region-footer-firstcolumn a:hover {
    color: #35393e;
    text-decoration: none;
    opacity: 0.7;
}

.region-footer-firstcolumn a {
    color: #35393e;
    cursor: pointer;
}

.region-footer p {
    color: #9d9b96;
    font-size: 12px;
}

.region-footer-firstcolumn p {
    margin: 20px 0 10px 0;
    font-size: 14px;
}

/*social media icons*/

a.fb:before {
    font-family: 'fontawesome';
    content: '\f230';
    padding-right: 5px;
}

a.ig:before {
    font-family: 'fontawesome';
    content: '\f16d';
    padding-right: 5px;    
}

a.tw:before {
    font-family: 'fontawesome';
    content: '\f099';
    padding-right: 5px;    
}

@media all and (max-width: 550px) {
  #footer-wrapper,
  #footer-wrapper li {
      text-align: center;
  }
}

/*============================ END FOOTER ============================*/
