
/* ------------------- Basic Layout Styles ---------------- */

html,
body,
#page  {
  height: 100%;
  margin:0;
  padding:0;
}
#page-wrapper {
  min-height: 100%;
}
#header div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.hidden{
	display: none !important;
	
}

/* HEADER */
#header div.section {
  position: relative;
}
.block.logo {
  position: absolute;
  top: -22px;
  left: 15px;
  display: block;
  z-index: 20;
}
.logo img {
	width: 124px;
	height: 124px;
	border-radius: 50%;
	box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.region-header{
	float: none;
	padding: 0 15px 0 150px;
}
.front #page-title, .front #highlighted, .front .tabs{
	display: none;
}

/* MAIN NAV */
.om-maximenu.om-maximenu-block ul.om-menu{
	float: none;
	text-align: right;
}
.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf{
	float: none;
	display: inline;
}
.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-link{
	float: none;
	display: inline-block;
	color: #35393e;
}
.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-link:hover{
	opacity: .7;
}
.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-link.left{
	float: left;
}
.region-header .block.block-om-maximenu{
	float: none;
}
.om-maximenu ul.om-menu li.om-leaf .om-link{
	height: 80px;
	line-height: 80px;
}

.garden-menu li,
#header-top li{
	display: inline;
}
.garden-menu li a,
#header-top li a{
	display: inline-block;
}
.garden-menu{
	padding-left: 150px;
}
.garden-menu li a{
	padding: 0 15px;
}
.garden-menu ul.submenu,
.garden-menu ul{
	margin: 0;
	padding: 0;
}
.gtype{
	display: block;
	font-size: .75em;
	color: #98b523;
}


/* MENU - TOP ACTIONS MENU */
#header-top #block-menu-menu-header-actions {
  float: right;
}
#block-menu-menu-header-actions li{
	padding: 0;
	margin: 0;
}
#block-menu-menu-header-actions li a{
	height: 58px;
	line-height: 58px;
	display: block;
	float: left;
	padding: 0 20px;
}
#block-menu-menu-header-actions li a:hover{
	opacity: .7;
}
#block-menu-menu-header-actions li a.tour{
	background-color: #1a6b15
}
#block-menu-menu-header-actions li a.donate{
	background-color: #98b523
}



/* HOME FLEXSLIDER */
.flexslider{
	border: none;
}




#secondary-menu {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}
#main-wrapper {
  min-height: 300px;
}
#content .section,
.sidebar .section {
}
#breadcrumb {
  margin: 0 15px;
}
#footer-wrapper {
  padding: 100px 0 0;
}
#footer-wrapper .section {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px 0;
}
.region-footer-firstcolumn {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 10px;
}
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
}

@media all and (min-width: 560px) and (max-width: 850px) {

  #sidebar-first,
  .region-triptych-first,
  .region-triptych-middle,
  .region-triptych-last,
  .region-footer-firstcolumn,
  .region-footer-secondcolumn,
  .region-footer-thirdcolumn,
  .region-footer-fourthcolumn {
    display: inline;
    float: left; /* LTR */
    position: relative;
  }
  #sidebar-first,
  #sidebar-second {
    width: 50%;
  }
  #sidebar-second {
    margin-left: 50%; /* LTR */
  }
  .one-sidebar #sidebar-first,
  .one-sidebar #sidebar-second {
    width: 100%;
  }
  .one-sidebar #sidebar-second {
    margin-left: 0; /* LTR */
  }
  .region-triptych-first,
  .region-triptych-middle,
  .region-triptych-last {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px 0;
    width: 33%;
  }
  .region-footer-firstcolumn,
  .region-footer-secondcolumn {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    width: 50%;
  }
  .region-footer-thirdcolumn,
  .region-footer-fourthcolumn {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    width: 50%;
  }
  .region-footer-thirdcolumn {
    clear: both;
  }
}

@media all and (min-width: 851px) {

  #header div.section,
  #featured div.section,
  #messages div.section,
  #main,
  #triptych,
  #footer-columns,
  #footer {
   
  }
  #content,
  #sidebar-first,
  #sidebar-second,
  .region-triptych-first,
  .region-triptych-middle,
  .region-triptych-last,
  .region-footer-firstcolumn,
  .region-footer-secondcolumn,
  .region-footer-thirdcolumn,
  .region-footer-fourthcolumn {
    display: inline;
    float: left; /* LTR */
    position: relative;
  }
  .two-sidebars #content {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }
  .one-sidebar #content {
    width: 75%;
  }
  .no-sidebars #content {
    width: 100%;
  }
  .sidebar-first #content {
    margin-left: 25%; /* LTR */
    margin-right: 0; /* LTR */
  }
  .sidebar-second #content {
    margin-right: 25%; /* LTR */
    margin-left: 0; /* LTR */
  }
  #sidebar-first {
    width: 25%;
    margin-left: -100%; /* LTR */
  }
  #sidebar-second {
    width: 25%;
    margin-left: -25%; /* LTR */
    clear: none;
  }
  .region-triptych-first,
  .region-triptych-middle,
  .region-triptych-last {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33%;
  }
  .region-footer-firstcolumn,
  .region-footer-secondcolumn,
  .region-footer-thirdcolumn,
  .region-footer-fourthcolumn {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    width: 25%;
  }
}

/*============================ FOOTER ============================*/

img.footer-logo {
    max-width: 100px;
}

.region-footer-top {
    padding: 0 10px;
}

#footer-wrapper li, 
#footer-wrapper ul.menu {
    margin: 0;
    padding: 0;
}

.region-footer {
    margin: 80px 10px;
}

/*footer typography*/

h1.footer-title {
    margin: .5em 0 1.5em 0;
    font-size: 18px;
}

#footer-wrapper h2 {
    color: #9d9b96;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}

#footer-wrapper ul.menu a {
    color: #35393e;
    font-size: 18px;
    cursor: pointer;
}

#footer-wrapper ul.menu a:hover,
.region-footer-firstcolumn a:hover {
    color: #35393e;
    text-decoration: none;
    opacity: 0.7;
}

.region-footer-firstcolumn a {
    color: #35393e;
    cursor: pointer;
}

.region-footer p {
    color: #9d9b96;
    font-size: 12px;
}

.region-footer-firstcolumn p {
    margin: 20px 0 10px 0;
    font-size: 14px;
}

/*social media icons*/

a.fb:before {
    font-family: 'fontawesome';
    content: '\f230';
    padding-right: 5px;
}

a.ig:before {
    font-family: 'fontawesome';
    content: '\f16d';
    padding-right: 5px;    
}

a.tw:before {
    font-family: 'fontawesome';
    content: '\f099';
    padding-right: 5px;    
}

@media all and (max-width: 550px) {
  #footer-wrapper,
  #footer-wrapper li {
      text-align: center;
  }
}

/*============================ END FOOTER ============================*/

