.node{}


/* support us page styling */
/*#node-1 .field-items,
#node-6 .field-items {
	display:flex;
	flex-flow:row wrap
}

#node-1 .field-item .field-item,
#node-6 .field-item .field-item {
	border:none;
}

#node-1 .col,
#node-6 .col {
	width:100%;
}

@media screen and (min-width:480px) {
	#node-1 .field-item,
	#node-6 .field-item {
		flex:1;
		min-width:50%;
	}
	#node-1 .field-item {
		border-bottom: 2px solid #ece6dd;
	}
}
@media screen and (min-width:820px){
	#node-1 .field-item,
	#node-6 .field-item {
		flex:1;
		min-width:33%;
	}
	#node-1 .field-item {
		min-width:25%;
	}
	#node-1 .field-item:nth-of-type(1),
	#node-1 .field-item:nth-of-type(2),
	#node-6 .field-item:nth-of-type(1),
	#node-6 .field-item:nth-of-type(2) {
		min-width:50%;
	}
	#node-1 .field-item {
		border-bottom: 2px solid #ece6dd;
	}
}*/