.node{}

/*search node*/

.page-search-node #main .content {
    max-width: 1290px;
    margin: 4% auto;
    padding: 0 15px;
}

.page-search-node .search-form .container-inline label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}

.page-search-node .search-form input.form-text {
    width: 100%;
}

.page-search-node #search-form .form-submit {
    text-align: center;
    margin-top: 1%;
    min-width: 100px;
}

.page-search-node .search-results .search-snippet-info {
    padding: 0;
}

.page-search-node .search-results li {
    margin-bottom: 3%;
}

.page-search-node .search-results .search-info {
    display: none;
}

/* support us page styling */
/*#node-1 .field-items,
#node-6 .field-items {
	display:flex;
	flex-flow:row wrap
}

#node-1 .field-item .field-item,
#node-6 .field-item .field-item {
	border:none;
}

#node-1 .col,
#node-6 .col {
	width:100%;
}

@media screen and (min-width:480px) {
	#node-1 .field-item,
	#node-6 .field-item {
		flex:1;
		min-width:50%;
	}
	#node-1 .field-item {
		border-bottom: 2px solid #ece6dd;
	}
}
@media screen and (min-width:820px){
	#node-1 .field-item,
	#node-6 .field-item {
		flex:1;
		min-width:33%;
	}
	#node-1 .field-item {
		min-width:25%;
	}
	#node-1 .field-item:nth-of-type(1),
	#node-1 .field-item:nth-of-type(2),
	#node-6 .field-item:nth-of-type(1),
	#node-6 .field-item:nth-of-type(2) {
		min-width:50%;
	}
	#node-1 .field-item {
		border-bottom: 2px solid #ece6dd;
	}
}*/