/*
font-family: 'Open Sans', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
*/
body {
  line-height: 1.5;
  font-size: 100%;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body,
#site-slogan,
.ui-widget,
.comment-form label {
  font-family: 'Open Sans', sans-serif;
}
#header,
#footer-wrapper,
#skip-link,
ul.contextual-links,
ul.links,
ul.primary,
.item-list .pager,
div.field-type-taxonomy-term-reference,
div.messages,
div.meta,
p.comment-time,
table,
.breadcrumb {
  font-family: 'Open Sans', sans-serif;
}

input,
textarea,
select,
a.button {
  font-family: 'Open Sans', sans-serif;
}
.tabs {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}
fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #3b3b3b;
  display: block;
  height: 2em;
  left: -1px; /* LTR */
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  top: -12px;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {

}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-family: 'Merriweather Sans', sans-serif;
}
code,
pre,
kbd,
samp,
var {
  padding: 0 0.4em;
  font-size: 0.77em;
  font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New";
}

ul,
ul li.leaf{
	list-style:none;
	padding: 0 0 0 12px;
}